---
import { Image } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import FilterScript from "@components/scripts/basic-filter.astro";
import path from "path";
import Button from "../components/ui/button.astro";

const items = {
  // key and id field needs to be the same
  rolunk: {
    label: "Rólunk",
    id: "rolunk",
    html: `
        <p>
          Csapatunk tagjai hosszú évek óta együtt dolgoznak, szakmájukat szerető asztalos, lakatos, ács, kőműves,
          burkoló, villany- és vízszerelő munkatársainkat, a nagyfokú rugalmasság és a szakmai tapasztalat jellemzi.
          Egyedi szerkezeteinket a legkiválóbb minőségben készítjük el.
        </p>
        <p>
          Törekszünk a legmodernebb szerszámok, gépek, technológiák, anyagok használatára, szívesen ajánljuk
          megrendelőink figyelmébe a legújabb technikai újdonságokat, szerkezeteket, agyagokat, különleges megoldásokat.
        </p>
        <p>
          A megszerzett tapasztalatok alapján, cégünk profilja időközben kibővült családi házak tervezésével,
          kivitelezésével, felújításával, nyílászárók cseréjével, belsőépítészeti munkákkal, személyre szabott design
          kialakításával.
        </p>

        <p>
          A megálmodott tervekből különleges, egyénre szabott enteriőr készül a költségvetés és a határidők
          betartásával. Fontos számunkra a rugalmasság, a hatékonyság, a stabilitás, megrendelőink kifogástalan
          kiszolgálása magas műszaki színvonalú, egyedileg gyártott fa, alumínium, műanyag profilokból készült
          termékekkel.
        </p>
        <p>
          Minden kivitelezés legfontosabb része a tervezés. Építészmérnök kollégáink a helyszínen, megrendelőinkkel
          folytatott beszélgetések alapján egyeztetik a megfelelő szerkezeti anyagokat, építészeti lehetőségeket,
          nyílászáró elemeket, a megfelelő árnyékolás lehetőségét.
        </p>
        <p>
          A weboldalunkon látható télikerteket, teraszbeépítéseket, kupolákat, védőtetőket cégünk készítette, azokat -
          előzetes egyeztetés alapján - bármikor meg tudjuk mutatni, beszélve a tulajdonosok több éves tapasztalatairól
          is.
        </p>
    `,
  },
  munkatarsaink: {
    id: "munkatarsaink",
    label: "Munkatársaink",
  },
  partnereink: {
    label: "Partnereink",
    id: "partnereink",
    html: "",
  },
  anyagaink: {
    label: "Anyagaink",
    id: "anyagaink",
    html: `
      <h3 class="font-bold text-2xl mt-10 mb-4">Acél</h3>
      <div class="flex flex-col gap-3 mx-auto text-justify">
        <p>
          Az acélszerkezet nagyon stabil építészeti megoldás, a legkisebb szerkezeti keresztmetszettel, a lehető
          legnagyobb teherbírás érhető el, így egyéb szerkezetek megerősítéséhez, oszlopokhoz, gerendákhoz
          használjuk.
        </p>
        <p>
          Kültérben előtetők, védőtetők anyagaként, beltérben merevítő- vagy alátámasztó szerepe van. Olyan nagy
          fesztávú üvegház, vagy télikert építéséhez alkalmazzuk, ahol az alumínium profil, vagy a rétegelt-ragasztott
          fa szerkezet önmagában nem megfelelő. Ahol a kedvezőbb ár a követelmény, ott az olcsóbb kivitelű acél
          tartószerkezetet lehet jó megoldás, korrózióra való hajlamossága viszont igen nagy, ezért alapos
          felületkezelést kíván.
        </p>
      </div>
      <h3 class="font-bold text-2xl mt-10 mb-4">Alumínium</h3>
      <div class="flex flex-col gap-3 mx-auto text-justify">
        <p>
          Az alumínium profil rendkívül időtálló, nem vetemedik, nem korrodálódik, nagy teherbírású és hosszú
          élettartamú, gondozás-mentes szerkezet.
        </p>
        <p>
          Valamennyi profil korlátlan szabadságot biztosít a formavilágot, a színvilágot, és a felhasználási lehetőségét
          tekintve. A bármilyen RAL színre felületkezelhető beégetett festésű alumínium szerkezet elegáns, könnyű,
          tartós, esztétikus megjelenése mellett, a maximális élettartamot biztosítja.
        </p>
        <p>
          Az extrémebb statikai igénybevételnek és a mind szigorúbb EU szabványoknak
          megfelelő szerkezetek jelentős biztonsági tartalékkal rendelkeznek. Nem igényel utólagos gondozást,
          felújítást, az időjárási hatásokra érzéketlen, nincs korrózió, nincs alakváltozás, nincs öregedés.
        </p>
      </div>
      <h3 class="font-bold text-2xl mt-10 mb-4">Fa</h3>
      <div class="flex flex-col gap-3 mx-auto text-justify">
        <p>
          A fa szerkezetek előnye az esztétikus és természetes megjelenés, a jó hőszigetelés. A repedésmentesség, és a
          csavarodás, vetemedés elkerülése érdekében a felhasznált anyag mesterséges szárítás után, több rétegből
          ragasztva kerül alkalmazásra. A rétegelt ragasztott technikának köszönhetően tetszőleges keresztmetszetű és
          hosszúságú elemeket készíthetünk, melyek statikailag könnyen méretezhetővé teszik ezeket a szerkezeteket,
          így nagyobb fesztávot is áthidalhatunk.
        </p>
        <p>
          A színtartó, UV-álló, felületkezelésnek köszönhetően rugalmas réteg védi a fát a külső hatásoktól, ugyanakkor
          a bevonat alatt konzerválja is az alapanyagot, tehát a fát védi a gomba- és rovarkároktól.
        </p>
        <p>
          A fa anyagánál és megmunkálásánál fogva is gondozást igénylő termék, a felületkezelésének, és tömítéseinek
          mindig megfelelőnek kell lenniük, de a minőségi anyagokból, gondosan megépített fa szerkezetű télikert talán a
          legesztétikusabb és a legtermészetesebb kivitelezési megoldás. Gondozását házilagosan is könnyen
          elvégezhetjük, de ha nem boldogulnak vele, nyugodtan kérjék szakembereink segítségét.
        </p>
      </div>
      <h3 class="font-bold text-2xl mt-10 mb-4">Polikarbonát</h3>
      <div class="flex flex-col gap-3 mx-auto text-justify">
        <p>
          Az üveg mellett többféle tetőfedés céljára kifejlesztett modern, minőségi "UV" álló polikarbonát lemez is
          választható, melyek előnye az üveggel szemben a kis súly, a könnyű beépíthetőség, a jó hőszigetelő képesség és
          a viszonylagos törhetetlenség.
        </p>
        <p>
          Nagyobb fesztávú tetőszerkezetekben keresztosztás nélkül alkalmazható. Széles hőmérséklet-tartományban is
          felhasználható.
        </p>
        <p>
          Érzékenyebb a karcolódásra, esőben hangosabb és az üregkamrás változat esetében a fényt ugyan tökéletesen
          beengedi, de optikailag nem átlátható.
        </p>
        <p>
          Az átlátszó fedéseken kívül tömör, nem átlátszó héjazatokat is tudunk készíteni, cserép- vagy zsindelyfedést,
          réz- vagy horganylemez borítást.
        </p>
      </div>
      <h3 class="font-bold text-2xl mt-10 mb-4">Műanyag</h3>
      <div class="flex flex-col gap-3 mx-auto text-justify">
        <p>
          Az újrafelhasználható műanyagból készült nyílászárók alaktartósságát és szilárdságát a beépített acélidomok, a
          jó hőszigetelést pedig a több légkamrás műanyag profilok garantálják. A profilrendszerek UV stabil műanyagból
          készülnek, időállóak az évek folyamán is megtartják színüket. A nyílászárók nem igényelnek utólagos
          karbantartást, festést, csupán a külső szennyeződéseket kell időnként eltávolítani. Olyan gazdaságos felületet
          képeznek, amelyek radikálisan kicsi víz- és légáteresztésűek, fékezik a külső hanghatásokat.
        </p>
        <p>
          Megnövelt biztonságot nyújtanak a betörés ellen, a megerősített vasalatok nem tartalmaznak hozzáférhető
          szerkezetelemeket, több ponton záródnak, így semmi esélyt sem adnak a külső behatolásra.
        </p>
        <p>
          A profilok alapszíne fehér (RAL 9016) de készülhetnek színes nyílászárók is, a dekorfóliákat speciális
          eljárással viszik fel a profilokra.
        </p>
      </div>
      <h3 class="font-bold text-2xl mt-10 mb-4">Üveg</h3>
      <div class="flex flex-col gap-3 mx-auto text-justify">
        <p>
          Az építészeti üveg az utóbbi évtizedekben nagy fejlődésen ment keresztül, az egyszerű hőszigetelő üvegezés
          mellett megjelentek a fokozott hőszigetelésre, nap - és fény elleni védelemre kifejlesztett, speciális
          bevonatokkal ellátott több rétegű üvegek is nemesgáz töltéssel, így fokozott hang - és hőszigetelésű,
          vagy különböző biztonságfokozatú üvegeket kapunk. A napvédő, reflexiós
          üvegek a napenergia nagy részét elnyelik, vagy visszaverik, megakadályozva annak túlzott beáramlását.
        </p>
        <p>
          Az anyagában színezett üvegek színválasztéka - szürke, bronz, zöld, kék, igazi színarculati megjelenést adnak
          a télikerteknek, teraszbeépítéseknek, védőtetőknek.
        </p>
      </div>
    `,
  },
};

const itemsWithoutHtml = Object.entries(items).reduce((acc, [key, value]) => {
  // this will be used to pass data from astro server to the client JS. we remove the html as its large and won't be used by the JS
  const { html, ...itemWithoutHtml } = value;
  return { ...acc, [key]: itemWithoutHtml };
}, {});

const staff = [
  {
    name: "Kőrösi Benedek",
    jobTitle: "Okleveles Építészmérnök",
    description: "Az Építészkamara tagja<br>A Mérnökkamara tagja<br>Felelős műszaki vezető",
    pictureName: "korosi-benedek.jpg",
  },
  {
    name: "Cseh-Révész Péter",
    jobTitle: "Építésztechnikus",
    description: "Munkáink koordinátora<br>2009-ben Magasépítő Technikusi oklevelet szerzett",
    pictureName: "cseh-revesz-peter.jpg",
  },
  {
    name: "Cseh-Révész Tina",
    jobTitle: "Enteriőrstylist, Lakberendező",
    description: "Látványtervek, dizájnok készítője<br>2022 KREA design iskola",
    pictureName: "cseh-revesz-tina.jpg",
  },
  {
    name: "Kőrösiné Révész Erika",
    jobTitle: "Iroda",
    description: "Ajánlatok, szerződések, megrendelések tudója, rendszerezője",
    pictureName: "revesz-erika.jpg",
  },
];
const viteImages = import.meta.glob<ImageMetadata>("../assets/staff/*", { import: "default" });
const imageNameToRenderableImageMap = {};
for (const [imgPath, imageFunction] of Object.entries(viteImages)) {
  const imageRenderable = await imageFunction();
  imageNameToRenderableImageMap[path.basename(imgPath)] = imageRenderable;
}
---

<Layout
  title="Beridoor Kft Csapata"
  description="Csapatunk, akik a Beridoor Kft. által épített télikerteket megvalósítják">
  <Container>
    <div id="item-store" data-items={JSON.stringify(itemsWithoutHtml)}></div>
    <div>
      <div class="md:flex md:flex-wrap md:flex-row pt-16 pb-8 grid grid-cols-2 gap-4 justify-center">
        {
          Object.values(items).map((item) => (
            <Button id={`${item.id}-button`} style="outline" class="md:text-lg">
              <p>{item.label}</p>
            </Button>
          ))
        }
      </div>
    </div>
    {
      Object.values(items).map((item) => (
        <div class={`mt-10 hidden ${item.id}`}>
          <div class="mx-auto max-w-4xl">
            <h2 class="font-bold text-3xl text-center">{item.label}</h2>
          </div>
          <div class="flex flex-col gap-3 mx-auto mt-16 text-justify">
            {item.id === "munkatarsaink" ? (
              <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-4 gap-10 mx-auto mt-12">
                {staff.map((staffItem) => (
                  <div class="group">
                    <div class="w-full">
                      <Image
                        src={imageNameToRenderableImageMap[staffItem.pictureName]}
                        alt={staffItem.pictureName}
                        width={400}
                        loading={"eager"}
                        aspectRatio="3:2"
                        format="avif"
                        fit="cover"
                        position="center"
                        class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl"
                      />
                    </div>
                    <div class="mt-4 text-center">
                      <h2 class="text-lg ">{staffItem.name}</h2>
                      <h3 class="text-sm mb-3">{staffItem.jobTitle}</h3>
                      <h3 class="text-sm dark:text-beridoorDarkModeSecondaryText text-beridoorLightModeSecondaryText">
                        {" "}
                        <Fragment set:html={staffItem.description} />
                      </h3>
                    </div>
                  </div>
                ))}
              </div>
            ) : (
              <Fragment set:html={item.html} />
            )}
          </div>
        </div>
      ))
    }
    <FilterScript />
  </Container>
</Layout>
