---
import { Image } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import path from "path";
import Button from "@components/ui/button.astro";

const items = {
  // key and id field needs to be the same
  telikert: {
    label: "Télikert",
    id: "telikert",
    text: "Különleges hangulatú helyiség, természetközeli élményt biztosít az év minden napján, függetlenül a szélsőséges időjárási viszonyoktól, az itt elfogyasztott reggeli kávé nyugalma megalapozza egész napi hangulatát.",
  },
  terasz: {
    label: "Teraszbeépítés",
    id: "terasz",
    text: "Egy terasz oldalfalainak beépítése nagy mértékben elősegíti az otthon komfortérzetét, növeli piaci értékét, kibővíti használhatóságát a zord időjárási viszonyok között is, viszonylag kedvező anyagi ráfordítással.",
  },
  medencefedes: {
    label: "Medencefedés",
    id: "medencefedes",
    text: "",
  },
  szelfogo: {
    label: "Szélfogó",
    id: "szelfogo",
    text: "A szélfogó zsilipet képez a zord időjárási viszonyok között, átmeneti zónát képezi a kint és a bent elhatárolásával. Okosan megtervezett belső terével, jó helykihasználásával, segíthet a megfelelő tárolás kialakításában.",
  },
  vedoteto: {
    label: "Elő-védőtető",
    id: "vedoteto",
    text: "A bejárati feletti védőtető komfortosabbá teszi a napi rutint – kulcskeresés, ajtó nyitás, csukás- esős, havas időben is.",
  },
  veranda: {
    label: "Veranda",
    id: "veranda",
    text: "",
  },
};

// workaround for dynamic image imports: https://github.com/withastro/astro/issues/3373#issuecomment-1214245870
const viteImages = import.meta.glob<ImageMetadata>("../assets/portfolio/*/*/main/*", { import: "default" });
const imagesRenderable: {
  imageRenderable: any;
  alt: string;
  projectType: string;
  projectName: string;
  text: string;
}[] = [];
for (const [imgPath, imageFunction] of Object.entries(viteImages)) {
  const projetNamePath = path.dirname(path.dirname(imgPath));
  const projectName = path.basename(path.dirname(path.dirname(imgPath)));
  const projectTypePath = path.dirname(projetNamePath);
  const projectType = path.basename(projectTypePath);
  const imageRenderable = await imageFunction();
  imagesRenderable.push({
    imageRenderable,
    projectType,
    projectName,
    alt: path.basename(imgPath),
    text: items[projectType].text,
  });
}
---

<Layout title="Portfolio">
  <div id="item-store" data-items={JSON.stringify(items)}></div>
  <Container>
    <!-- <div class="grid-cols-2 md:flex md:flex-wrap md:flex-row pt-16 pb-8 md:pt-12 md:pb-24 gap-16 justify-start"> -->
    <div>
      <div class="md:flex md:flex-wrap md:flex-row pt-16 pb-8 grid grid-cols-2 gap-4 justify-center">
        {
          Object.values(items).map((item) => (
            <Button id={`${item.id}-button`} style="outline" class="md:text-lg">
              <p>{item.label}</p>
            </Button>
          ))
        }
      </div>
    </div>
    <div>
      <div class="md:flex md:flex-wrap md:flex-row pt-16 pb-8 grid grid-cols-2 gap-8 justify-center">
        {
          imagesRenderable.map((item) => {
            return (
              <div class={`${item.projectType} images-selector w-[300px]`}>
                <a href={`/portfolio/${item.projectType}/${item.projectName}`}>
                  <Image
                    src={item.imageRenderable}
                    alt={item.alt}
                    width={600}
                    aspectRatio="3:2"
                    format="avif"
                    fit="cover"
                    position="center"
                    class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl"
                  />
                </a>
              </div>
            );
          })
        }
      </div>
    </div>
    <div class="mx-auto justify-between text-justify items-center flex">
      <p class="md:text-lg" id="textToShow"></p>
    </div>
  </Container>
</Layout>

<script>
  import { animate } from "motion";
  const itemStoreElement = document.getElementById("item-store");
  const items = JSON.parse(itemStoreElement?.dataset.items!) as Record<string, { label: string; id: string }>;
  type State = Record<string, { label: string; id: string; isVisible: boolean; isFilterTurnedOn: boolean }>;

  const elements = document.getElementsByClassName("images-selector");
  for (let i = 0; i < elements.length; i++) {
    const elem = elements[i];
    elem?.addEventListener("mouseover", (e) => {
      animate(elem, { scale: 1.05 });
    });
    elem?.addEventListener("mouseout", (e) => {
      animate(elem, { scale: 1.0 });
    });
  }

  const classesToChange = ["bg-beridoorBlue", "border-cyan-600", "text-white"];
  const buttonsMap = Object.keys(items).reduce(
    (acc, id) => ({ ...acc, [id]: document.getElementById(`${id}-button`) }),
    {}
  );
  const changeFilteredItemSize = { smallClass: "w-[300px]", largeClass: "w-[600px]" };

  const fragment = window.location.hash.substring(1);
  const isValidFragment = Boolean(items[fragment]);
  const state: State = Object.entries(items).reduce((acc, [id, item]) => {
    if (isValidFragment) {
      return {
        ...acc,
        [id]: {
          ...item,
          isVisible: fragment === item.id,
          isFilterTurnedOn: fragment === item.id,
        },
      };
    } else {
      return {
        ...acc,
        [id]: {
          ...item,
          isVisible: true,
          isFilterTurnedOn: false,
        },
      };
    }
  }, {});

  if (isValidFragment) {
    setInitialUi({
      selectedButton: buttonsMap[fragment],
      state,
      classesToToggle: classesToChange,
      changeFilteredItemSize,
    });
    updateTextShown({ state });
  }

  for (const currentId of Object.keys(items)) {
    const el = buttonsMap[currentId];
    el?.addEventListener("click", (event) => {
      window.location.hash = state[currentId].isFilterTurnedOn ? "#" : `#${currentId}`;
    });
  }

  window.addEventListener("hashchange", (event) => {
    event.preventDefault();
    const currentId = window.location.hash.substring(1) || new URL(event.oldURL).hash.slice(1);
    state[currentId].isFilterTurnedOn = !state[currentId].isFilterTurnedOn;
    updateStateAndButtonBackground({
      state,
      buttonsMap,
      currentId,
      classesToRemove: classesToChange,
      classesToToggle: classesToChange,
    });
    hideAndShowItems({ state, changeFilteredItemSize });
    updateTextShown({ state });
  });

  function isEveryFilterTurnedOff(state: State) {
    return Object.values(state).every((item) => !item.isFilterTurnedOn);
  }

  function updateStateAndButtonBackground({
    state,
    buttonsMap,
    currentId,
    classesToRemove,
    classesToToggle,
  }: {
    state: State;
    buttonsMap: Record<string, HTMLElement>;
    currentId: string;
    classesToRemove: string[];
    classesToToggle: string[];
  }) {
    if (isEveryFilterTurnedOff(state)) {
      for (const innerId of Object.keys(items)) {
        const button = buttonsMap[innerId];
        removeStylingFromNonSelectedButton({ button, classesToRemove });
        state[innerId].isVisible = true;
      }
    } else {
      for (const innerId of Object.keys(items)) {
        const currentState = state[innerId];
        const button = buttonsMap[innerId];
        if (innerId === currentId) {
          currentState.isVisible = true;
          toggleStylingOnSelectedButton({ button, classesToToggle });
        } else {
          currentState.isFilterTurnedOn = false;
          currentState.isVisible = false;
          removeStylingFromNonSelectedButton({ button, classesToRemove });
        }
      }
    }
  }

  function removeStylingFromNonSelectedButton({
    button,
    classesToRemove,
  }: {
    button: HTMLElement;
    classesToRemove: string[];
  }) {
    for (const classToRemove of classesToRemove) {
      button.classList.remove(classToRemove);
    }
  }

  function toggleStylingOnSelectedButton({
    button,
    classesToToggle,
  }: {
    button: HTMLElement;
    classesToToggle: string[];
  }) {
    for (const classToRemove of classesToToggle) {
      button.classList.toggle(classToRemove);
    }
  }

  function setInitialUi({
    state,
    selectedButton,
    classesToToggle,
    changeFilteredItemSize,
  }: {
    selectedButton: HTMLElement;
    state: State;
    classesToToggle: string[];
    changeFilteredItemSize: { smallClass: string; largeClass: string };
  }) {
    toggleStylingOnSelectedButton({ button: selectedButton, classesToToggle });
    hideAndShowItems({ state, changeFilteredItemSize });
  }

  function hideAndShowItems({
    state,
    changeFilteredItemSize,
  }: {
    state: State;
    changeFilteredItemSize?: { smallClass: string; largeClass: string };
  }) {
    for (const item of Object.values(state)) {
      const elements = document.getElementsByClassName(item.id);
      for (const element of elements) {
        if (item.isVisible) {
          if (changeFilteredItemSize) {
            if (item.isFilterTurnedOn) {
              element.classList.remove(changeFilteredItemSize.smallClass);
              element.classList.add(changeFilteredItemSize.largeClass);
            } else {
              element.classList.add(changeFilteredItemSize.smallClass);
              element.classList.remove(changeFilteredItemSize.largeClass);
            }
          }
          element.classList.remove("hidden");
        } else {
          element.classList.add("hidden");
        }
      }
    }
  }

  function updateTextShown({ state }: { state: State }) {
    const selectedItem: any = Object.values(state).find((item: any) => {
      return item.isFilterTurnedOn;
    });
    const paragraph = document.getElementById("textToShow");
    while (paragraph?.firstChild) {
      paragraph?.removeChild(paragraph?.firstChild);
    }
    if (selectedItem) {
      const text = document.createTextNode(items[selectedItem.id]?.text);
      paragraph?.appendChild(text);
    }
  }
</script>
