---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import logoImage from "assets/logo.png";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Image, Picture } from "@astrojs/image/components";
import Logo from "./Logo.astro"

const menuitems = [
  {
    title: "Rólunk",
    children: [
      { title: "Munkatársaink", path: "/about" },
      { title: "Sajtószoba", path: "/about" },
      { title: "Partnereink", path: "/about" },
      { title: "Építőanyagok", path: "/about" },
    ],
  },
  {
    title: "Termékeink",
    children: [
      { title: "Télikert", path: "/portfolio#telikert" },
      { title: "Teraszbeépítés", path: "/portfolio#terasz" },
      { title: "Medencefedés", path: "/portfolio#medencefedes" },
      { title: "Szélfogó", path: "/portfolio#szelfogo" },
      { title: "Elő-védőtető", path: "/portfolio#vedoteto" },
      { title: "Veranda", path: "/portfolio#veranda" },
    ],
  },
  {
    title: "Szolgáltatásaink",
    children: [
      { title: "Árnyékolás", path: "/portfolio#telikert" },
      { title: "Lakásfelújítás", path: "/portfolio#terasz" },
      { title: "Tervezés", path: "/portfolio#medencefedes" },
      { title: "Belsőépítészet", path: "/portfolio#szelfogo" },
      { title: "Látványterv", path: "/portfolio#vedoteto" },
    ],
  },
  {
    title: "Lakótér bővítés",
    path: "/404"
  },
  {
    title: "Nap elleni védelem",
    children: [
      { title: "Pergola", path: "/portfolio#telikert" },
      { title: "Filagória", path: "/portfolio#terasz" },
      { title: "Kocsibeálló", path: "/portfolio#medencefedes" },
      { title: "Napvitorla", path: "/portfolio#szelfogo" },
    ],
  },
  {
    title: "Kapcsolat",
    path: "/contact",
  },
];
const isSticky = true
const logoWidth = 140;
---
<nav id="navbar" class:list={[{ sticky: isSticky, relative: !isSticky }, 'top-0 z-40 py-0 flex-none mx-auto w-full transition-all ease-in duration-100 lg:bg-beridoorBlue']}>
<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center">
    <Astronav>
      <div class="flex py-2 w-full lg:w-auto items-center justify-between">
          <Logo width={logoWidth}/>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <div class="navbar-items">
                {item.children && (
                    <Dropdown
                      classList={["flex lg:px-3 py-2 md:text-gray-100 md:hover:text-white text-gray-600 hover:text-gray-900"]}
                      title={item.title}
                      children={item.children}
                    />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 md:text-gray-100 md:hover:text-white text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </div>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
      <Logo width={logoWidth} isInvisible={true}/>
    </Astronav>
  </header>
</Container>
</nav>
<script>
  import { animate } from "motion"
  const elements = document.getElementsByClassName('navbar-items')
  for(let i = 0; i < elements.length; i++) {
    const elem = elements[i]
    elem?.addEventListener('mouseover', (e) => {
      animate(elem, { scale: 1.1 })
    });
    elem?.addEventListener('mouseout', (e) => {
      animate(elem, { scale: 1.0 })
    });
  }
</script>