---
import { Image, Picture } from "@astrojs/image/components";
import "../styles/blaze-slider.css";
import { Icon } from "astro-icon";
const { images } = Astro.props;
---

<div class="blaze-slider">
  <div class="blaze-container">
    <div class="relative ease-in blaze-track-container">
      <div class="blaze-track object-cover">
        {
          images.map((image, iterCount) => (
            <div class="inline-block overflow-hidden bg-cover bg-center relative w-full h-[94vh]">
              <Image
                src={image.imageRenderable}
                alt={image.alt}
                width={1600}
                aspectRatio="16:9"
                format="avif"
                fit="cover"
                position="center"
                class="-z-10 pointer-events-none absolute w-full, h-full object-cover min-w-full min-h-full bg-cover bg-no-repeat"
              />
              <p class="text-white text-3xl lg:text-8xl my-[45vh] lg:my-[43vh] text-center align-middle"> Tökéletes dezijn</p>
            </div>

            // <Image
            //   src={image.imageRenderable}
            //   alt={image.alt}
            //   loading="eager"
            //   format="avif"
            //   width={1600}
            //   // sizes="(max-width: 1600px) 100vw, 1600px"
            //   aspectRatio="16:9"
            // />
          ))
        }
      </div>
      <div class="top-[47vh] left-0 mx-2 md:mx-7 absolute">
        <button class="blaze-prev rotate-180" id="blaze-prev">
          <div class="w-6">
            <Icon class="hover:bg-slate-100 rounded-xl" name="right-arrow" />
          </div>
        </button>
      </div>
    <div class="right-[50vh] left-[50vh] top-[87vh] blaze-pagination absolute "></div>
      
      <div class="top-[47vh] right-0 mx-2 md:mx-7 absolute">
        <button class="blaze-next" id="blaze-next">
          <div class="w-6">
            <Icon class="hover:bg-slate-100 rounded-xl" name="right-arrow" />
          </div>
        </button>
      </div>

    </div>

  </div>

  <!-- navigation buttons -->
</div>

<script>
  import BlazeSlider from "blaze-slider";
  import "blaze-slider/dist/blaze.css";

  // function setCorrectHeightSize (width: number, height: number) {
  //   const imageDivs = document.getElementsByClassName('background-image-div')
  //   // const newHeight = (16/9) * (width / height) * height
  //   const newHeight = height;
  //   const imageTextElements = document.getElementsByClassName('image-text')
  //   for (const imgDiv of imageDivs) {
  //     for (const cls of imgDiv.classList) {
  //       if (cls.startsWith('h-[')) {
  //         imgDiv.classList.remove(cls)
  //       }
  //       console.log('cls', cls)
  //     }
  //     imgDiv.classList.add(`h-[${newHeight}px]`)
  //   }

  //   for (const imageTextEl of imageTextElements) {
  //     for (const cls of imageTextEl.classList) {
  //       if (cls.startsWith('leading-[')) {
  //         imageTextEl.classList.remove(cls)
  //       }
  //       console.log('cls', cls)
  //     }
  //     imageTextEl.classList.add(`leading-[${newHeight}px]`)
  //   }
  // }
  // window.addEventListener("resize", () => {
  //     const width = window.innerWidth;
  //     const height = window.innerHeight;
  //     setCorrectHeightSize(width, height)

  //     console.log(`The viewport's width is ${width} and the height is ${height}.`);
  // });

  const el = document.querySelector(".blaze-slider") as HTMLElement;
  const slider = new BlazeSlider(el, {
    all: {
      stopAutoplayOnInteraction: true,
      enableAutoplay: true,
      autoplayInterval: 4500,
      transitionDuration: 700,
      slidesToShow: 1,
    },
  });
</script>
